h1 {
  color: rgb(137, 137, 255);
}

.clase {
  color: rgb(249, 86, 130);
}

.body{
  background-color: rgb(255, 255, 207);
}


.little {color: rgb(104, 208, 218);}

.fif {color: rgb(255, 217, 78);}

.unra {color: rgb(218, 104, 157);}